*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN SECTION STARTS */

h2 {
    color: white;
}

.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

/*NAVIGATION BAR*/

.showcaseTop {
	position: relative;
	z-index: 2;
    padding: 26px 0px 0px 55px;
}
.showcaseTop #logo{
    height: 35px;
}

.showcaseTop .submit{
    background-color: #e50914;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 3px;
    float: right;
    position: relative;
    right: 55px;
}

.showcaseTop select{
    background-color: transparent;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    float: right;
    position: relative;
    right: 85px;
}

.showcaseTop select option{
    color: black;
}
/*GET STARTED*/
.showcase .getStartedContainer{
    z-index: 2;
    position: relative;
    text-align: center;
    position: relative;
    top: 180px;
    width: 100%;
}

.showcase .getStartedContainer h1,p{
    color: white;
}

.showcase .getStartedContainer h1{
    font-size: 3.9rem;
}

.showcase .getStartedContainer .para-1{
    font-size: 1.7rem;
}

.showcase .getStartedContainer .para-2{
    font-size: 1.2rem;
}

.showcase .getStartedContainer input{
    width: 35%;
    padding: 22px;
    border: none;
    margin-top: 0.5%;
    outline: none;
}

.showcase .getStartedContainer button{
    padding: 22px;
    border: none;
    background-color: #e50914;
    color: white;
    margin-left: -0.3%;
    font-weight: bold;
}

/*EMAIL ADDRESS STARTS*/

.emailAddressContainer{
    z-index: 2;
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: black;
}

.emailAddressContainer input{
    width: 35%;
    padding: 22px;
    border: none;
    margin-top: 0.5%;
    outline: none;
}

.emailAddressContainer button{
    padding: 22px;
    border: none;
    background-color: #e50914;
    color: white;
    margin-left: -0.3%;
    font-weight: bold;
}

/*EMAIL ADDRESS ENDS*/

/* FOOTER SECTION STARTS */

footer{
    background-color: black;
    border-top: 8px solid #222;
    padding-top: 5%;
}

footer h5{
    color: white;
    text-align: center;
    padding-bottom: 1%;
}
  
footer .content{
    max-width: 1350px;
    margin: 0px 90px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .content .box{
    width: 20%;
    transition: all 0.4s ease;
  }

  footer .content p{
    text-align: justify;
  }

  footer .content .middle{
    padding-left: 80px;
  }

  footer .content .middle a{
    line-height: 32px;
    color: white;
    text-decoration: none;
  }

  footer .content .middle a:hover{
      text-decoration: underline;
  }

  footer .content .middle select{
    padding: 8px;
    background-color: transparent;
    border: 1px solid grey;
    color: white;
}

footer .content .middle select option{
    background-color: black;
}

/* FOOTER SECTION ENDS */